*~
*.bak
*.log
*.swp
*.tmp
node_modules/
vendor/

####################
# Editor #
####################
.idea/
nbproject/
.buildpath
.project
.settings/

####################
# OS #
####################
._*
.DS_Store
Thumbs.db